html {
  height: 100%;
}

body {
  height: 100%;
}

#root {
  height: 100%;
}
p {
  margin: 0;
  padding: 0;
}
h5 {
  margin: 0;
  padding: 0;
}

.dashBoardUserRoomCard {
  width: 100%;
  padding: 0.5rem;
  border-bottom: 1px solid lightgray;
  transition: all 0.23s ease-in-out;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashBoardUserRoomCard:hover {
  background-color: rgb(230, 230, 230);
}

.dashBoardModelCard {
  text-align: center;
  cursor: pointer;
  background: #ecf0f1;
  border: none;
  transition: all 0.275s ease;
}
.dashBoardModelCard:hover {
  background: #dee3e9;
}
